{% extends "layout.html" %}
{% block title %}Dry Lab | iGEM Wiki{% endblock %}
{% block page_content %}
        <div class="container" style="margin-top: 4rem;">
            <h1>Dry Lab</h1>
            <section class="glass-card">
                <h2>Modeling</h2>
                <p>Mathematical modeling of our biological system.</p>
                
                <h2>Software</h2>
                <p>Tools we developed to support our research.</p>
            </section>
        </div>
    
{% endblock %}

