{% extends "layout.html" %}
{% block title %}Engineering | iGEM Wiki{% endblock %}
{% block page_content %}
        <div class="container" style="margin-top: 4rem;">
            <h1>Engineering</h1>
            <section class="glass-card">
                {% if md_content %}
                    <div class="md-content">{{ md_content | safe }}</div>
                {% else %}
                    <p>Content for Engineering coming soon.</p>
                {% endif %}
            </section>
        </div>
    
{% endblock %}

